<h2 class="govuk-heading-m"><%= t('layout.support.title') %></h2>

<p class="govuk-!-font-size-16 govuk-!-margin-bottom-3">Webchat: <span id="app-web-chat"><span class="app-web-chat__offline">available Monday to Friday,  10am to midday (except public holidays)</span></span></p>
<p class="govuk-!-font-size-16">Email: <%= bat_contact_mail_to(html_options: { class: 'govuk-footer__link' }) %>. <%= t('layout.support.response_time') %></p>

<h2 class="govuk-visually-hidden"><%= t('layout.support_links.title') %></h2>
<ul class="govuk-footer__inline-list govuk-!-margin-bottom-0">
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support.provider_service_guidance'), provider_interface_service_guidance_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.accessibility'), provider_interface_accessibility_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.cookies'), provider_interface_cookies_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.complaints'), provider_interface_complaints_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.privacy_policy'), provider_interface_privacy_policy_path, class: 'govuk-footer__link' %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('layout.support_links.roadmap'), provider_interface_roadmap_path, class: 'govuk-footer__link' %>
  </li>
</ul>
